<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini Chat Application</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h3>All Chats</h3>
    <form action="/chats/new" method="get">
        <button class="new-chat">New Chat</button>
    </form>
    <br>
    <% for(let chat of chats){ %>
        <div class="chat">
            <p>
                From : <span class="info">
                    <%= chat.from %>
                </span>
            </p>
            <div class="msg">
                <p>
                    <span class="msg-text">Message</span> : <%= chat.msg %>
                </p>
            </div>
            <p>
                Recieved by : <span class="info">
                    <%= chat.to %>
                </span>
            </p>
            <hr>
        </div>
        <br><br>
        <% } %>
</body>

</html>