body {
    margin-left: 20px;

}

.chat {
    background-color: rgb(189, 212, 233);
    padding: 20px;
    border-radius: 16px;
    display: inline-block;
}

.msg {
    background-color: dodgerblue;
    color: white;
    /* padding: 0.1rem; */
    /* text-align: center; */
}